* {
    margin: 0;
    padding: 0;
    border: 0;
}

.containzer {
    padding: 1px;
    width: 1170px;
    margin: 0 auto;
    max-width: 90%;
}


.main {
    background-color: #fff;
}




.hotel__rating {
    margin-top: 40px;
    display: flex;
}




.hotel__name {
    font-size: 27px;
    font-family: Georgia, sans-serif;
    font-weight: 600;
    color: #333;
    margin-right: 50px;

}




.rating {
    color: #fff;
    background-color: #383950;
    padding: 5px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 9px;
}




.color__block {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #e7e7e7;
    margin-top: 100px;
    z-index: 1000;
}






.hotel__info {
    
    display: flex;
    margin-top: 110px;
    margin-bottom: 50px;
    
}



.slider {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    
}



.slider__inner {
    display: flex;
    
}



.slider__btn__left {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 25px;
    z-index: 1000;
    background: transparent;
    font-weight: 700;
    color: #fff;
    left: 0;
    top: 44%;
}




.slider__btn__right {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 25px;
    background: transparent;
    font-weight: 700;
    color: #fff;
    right: 0;
    top: 44%;
}




.slider__content {
    width: 630px;
    height: 470px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.slider__img {
    width: 100%;
    height: 100%;
    position: absolute;
}




.card {
    display: inline-block;
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 200px;
}




.card__name{
    margin-bottom: 15px;
    font-size: 24px;
}




.card__inner {
    width: 360px;
    height: 200px;
    background-color: #383950;
    border-radius: 7px;
    color: #fff;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
}

.hotel__price {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
    height: 40px;
}

.hotel__number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel__num {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.num__text {
    font-size: 13px;
    opacity: .7;
}




@media (max-width: 1158px) {
    .hotel__info{
        flex-direction: column;
        
    }


    .slider {
        max-width: 100%;
    }


    .card {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 60px;
    }
}




@media(max-width: 599px) {
    .slider{
        height: 400px;
    }

    .slider__img {
        height: 350px;
        border-radius: 10px;
    }
}



@media(max-width: 429px) {
    .slider {
        height: 350px;
    }

    .slider__img {
        height: 300px;
        border-radius: 10px;
    }
}



@media(max-width: 429px) {
    .card{
        
    }

    .card__inner {
        max-width: 90%;
        margin: 0 auto;
    }
}


@media(max-width: 400px) {
    .card {
    }

    .card__inner {
        width: 310px;
    }
}



.choose {
    width: 100%;
    background-color: #383950;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    text-align: center;
    border-radius: 6px;

}




.choose__desc {
    width: 170px;
    margin-left: 90px;
    height: 70px;
    position: relative;
    cursor: pointer;
}



.choose__desc__name{
    font-size: 25px;
    padding-top: 20px;
}




.choose__comm {
    width: 170px;
    margin-left: 50px;
    position: relative;
    cursor: pointer;
}




.choose__comm__name {
    font-size: 25px;
    padding-top: 20px;
}




.curse{
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    bottom: 0;
    display: none;
    
}




.curse__active{
    display: block;
    
}





@media (max-width: 609px) {
    .choose{
        justify-content: center;
    }


    .choose__desc {
        width: 40%;
        margin: 0 auto;
        height: 70px;
        position: relative;
        cursor: pointer;
    }

    .choose__comm {
        width: 40%;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
    }
}





.hotel__about {
    margin-top: 0px;
    position: absolute;
    opacity: 0;
    
    margin-bottom: 70px;
    transition: all ease 0.4s;
}




.active {
    
    position: static;
}



.animation {
    transition: all ease 0.4s;
    opacity: 1;
    margin-top: 40px;
}






.hotel__about__txt {
    margin-left: 60px;
    font-size: 30px;
    font-weight: bold;
}



.hotel__about__info {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}




.hotel__desc {
    line-height: 25px;
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    
}




#map {
    width: 560px;
    height: 410px;
       
}



@media (max-width: 1209px) {
    .hotel__about__txt {
        text-align: center;
        margin-left: 0px;
    }


    .hotel__about__info {
        flex-direction: column;
    }

    .hotel__desc {
        margin: 20px auto;
        margin-bottom: 50px;
        text-align: justify;
    }



    #map {
        margin: 0 auto;
    }
}


@media (max-width: 619px) {

    .hotel__desc {
        width: 400px;
    }



    #map {
        width: 400px;
    }
}




@media (max-width: 445px) {

    .hotel__desc {
        width: 350px;
    }



    #map {
        width: 350px;
    }
}



@media (max-width: 405px) {

    .hotel__desc {
        width: 300px;
    }



    #map {
        width: 300px;
    }
}





.hotel__comm {
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    position: absolute;
    display: none;
    transition: all ease 0.4s;
}



.active__comm {
    position: static;
    display: flex;
}



.animation__comm {
    opacity: 1;
    margin-top: 70px;
    
}




.hotel__comm__left{
    width: 460px;

}




.rate__pos{
    display:flex;
    justify-content: space-between;

}




.hotel__comm__left__txt{
    font-size: 30px;
}



.hotel__comm__left__rate{
    font-size: 30px;
}




.hotel__comm__line {
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    margin-top: 30px;
}




.hotel__get__txt {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}





.get__comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}



.get__comment__name{
    font-size: 40px;
    margin-bottom: 30px;

}



.get__comment__text {
    width: 100%;
    height: 170px;
    border: 2px solid #33394F;
    margin-bottom: 30px;
}



.get__comment__mark {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}



.get__comment__btn {
    width: 160px;
    border: 1px solid #33394F;
    color: #33394F;
    padding: 12px 14px;
    transition: all 0.3s ease;
    background-color: #fff;
    text-decoration: none;
}



.reg__btn {
    width: 160px;
    border: 1px solid #33394F;
    color: #a08afb;
    padding: 12px 14px;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #33394F;
    text-decoration: none;
}




.hotel__comm__right{
    width: 560px;
    
}




.hotel__comm__right__txt{
    font-size: 30px;
}






.comment__list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;

    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}




.comment__list__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 500;
}



.comment__list__info {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-weight: 500;
}



.comment__list__img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-weight: 500;
}



.comment__list__name {
    font-weight: 500;
}




.comment__list__date {
    font-weight: 500;
}



.comment__list__rating {
    margin-bottom: 20px;
    font-weight: 500;
}



.comment__list__text {
    font-weight: 500;
}





@media (max-width: 1174px) {
    .hotel__comm{
        flex-direction: column;
        justify-content: center;
        

    }
    
    .hotel__comm__left{
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .hotel__comm__right {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}



@media (max-width: 649px) {
    .hotel__comm {
        flex-direction: column;
        justify-content: center;
    }

    .hotel__comm__left {
        
    }

    .hotel__comm__right {
        width: 500px;
    }
}



@media (max-width: 649px) {
    .hotel__comm {
        flex-direction: column;
        justify-content: center;
    }

    .hotel__comm__left {
        width: 450px;
    }

    .hotel__comm__right {
        width: 450px;
    }
}


@media (max-width: 555px) {
    .hotel__comm {
        flex-direction: column;
        justify-content: center;
    }

    .hotel__comm__left {
        width: 350px;
    }


    .reg__btn {
        width: 50px;
        padding: 10px;
        word-wrap: normal;
    }

    .hotel__comm__right {
        width: 350px;
    }
}



@media (max-width: 445px) {
    .hotel__comm {
        flex-direction: column;
        justify-content: center;
        
    }

    .hotel__comm__left {
        width: 300px;
        
    }


    


    .reg__btn {
        position: absolute;
        width: 300px;
        padding: 10px;
        
        
    }

    .hotel__comm__right {
        width: 300px;
    }
}