
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" href="~/css/Map.css" />

    
</head>
<body>
    <div class="main">
        <button class="menu__btn">Меню</button>
        <div class="menu">
            <div class="menu__inner">
                <div class="menu__search">
                    <input type="text" value="" class="menu__input" placeholder="Поиск в TravelGuide"/>
                    <button class="menu__search-btn">Click</button>
                </div>
                <div class="place__blocks">
                    <div class="place__block">
                        <div class="place__icon">
                        </div>
                        <div class="place__name">
                        </div>
                    </div>
                </div>
                <input type="checkbox" name="hotel_checkbox" value="hotel" id="hotel_checkbox" />
                <label for="hotel_checkbox">Отель</label>
            </div>
            
        </div>
        <div id="map">
        </div>
    </div>
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
    <script type="text/javascript" src="~/js/map.js"></script>
</body>
</html>