
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" href="~/css/Map.css" />

    
</head>
<body>
    <div class="main">
        <button class="menu__btn">Меню</button>
        <div class="menu">
            <div class="menu__inner">
                <div class="menu__search">
                    <input type="text" value="" class="menu__input" placeholder="Поиск в TravelGuide"/>
                    <button class="menu__search-btn" id="search">Click</button>
                </div>


                <label>
                    Отель
                    <input type="checkbox" checked class="type" />
                </label>
                <label>
                    Достопримечательность
                    <input type="checkbox" checked class="type" />
                </label>
                <label>
                    Развлечение
                    <input type="checkbox" checked class="type" />
                </label>
                <label>
                    Бизнес
                    <input type="checkbox" checked class="type" />
                </label>
                <label>
                    Общепит
                    <input type="checkbox" checked class="type" />
                </label>


                <label>
                    до 2 000 ₽
                    <input type="checkbox" checked class="price" />
                </label>
                <label>
                    2 000 - 4 000 ₽
                    <input type="checkbox" checked class="price" />
                </label>
                <label>
                    4 000 - 6 000 ₽
                    <input type="checkbox" checked class="price" />
                </label>
                <label>
                    6 000 - 8 000 ₽
                    <input type="checkbox" checked class="price" />
                </label>
                <label>
                    8 000 - 11 000 ₽
                    <input type="checkbox" checked class="price" />
                </label>
                <label>
                    более 11 000 ₽
                    <input type="checkbox" checked class="price" />
                </label>

                <label>Рейтинг</label>
                <input type="range" min="0" max="10" value="0" class="rating" />


                @*<div class="place__blocks">
                    <div class="place__block" data-type="hotel">
                        <div class="place__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="#8345fe" fill-rule="evenodd" d="M16 24v3a2 2 0 01-2 2h-2.303l-2.806-1.871A1.998 1.998 0 018 25.465v-5.72a7.001 7.001 0 013.088-12.686A5.001 5.001 0 0121 8v.382l5 2.5V22a2 2 0 01-2 2h-8zM7 14a5.002 5.002 0 014-4.9V12a1 1 0 002 0V9.1a5.002 5.002 0 011.5 9.232l-.5.288V27h-1.697L10 25.465V18.62l-.5-.288A5.002 5.002 0 017 14zm10.236-4.646a6.997 6.997 0 00-4.096-2.262A3 3 0 0119 8v.382l-1.447.724a.988.988 0 00-.317.248zM19 14c0-1.092-.25-2.126-.696-3.047.048-.016.096-.035.143-.059L20 10.118l4 2V22h-8v-2.255A6.992 6.992 0 0019 14z" clip-rule="evenodd"></path></svg>
                            
                        </div>
                        <div class="place__name">
                            Отели
                        </div>
                    </div>
                    <div class="place__block" data-type="attraction">
                        <div class="place__icon">
                            <img src="https://disk.2gis.com/rubricator/government45dcc425ac778318b7d502a1e9907f79.svg" style="width: auto; height: 100%;">
                        </div>
                        <div class="place__name">
                            Достопримечательности
                        </div>
                    </div>
                    <div class="place__block" data-type="entertainment">
                        <div class="place__icon">
                            <img src="https://disk.2gis.com/rubricator/celebrationsab049f43989c4a4dea52c5f7efd36624.svg" style="width: auto; height: 100%;"> 

                        </div>
                        <div class="place__name">
                            Развлечения
                        </div>
                    </div>
                    <div class="place__block" data-type="business">
                        <div class="place__icon">
                            <img src="https://disk.2gis.com/rubricator/b2ba538e41fa5fd085c8623e2ee857690b1.svg" style="width: auto; height: 100%;">
                        </div>
                        <div class="place__name">
                            Бизнес
                        </div>
                    </div>
                    <div class="place__block" data-type="catering">
                        <div class="place__icon">
                            <img src="https://disk.2gis.com/rubricator/eat594ef1a575533c3c1b558ee032dad50c.svg">
                        </div>
                        <div class="place__name">
                            Общепит
                        </div>
                    </div>
                    <div class="place__block" data-type="catering">
                        <div class="place__icon">
                            <img src="https://disk.2gis.com/rubricator/transport1a09a238df9d3346179345116cae7a1c.svg" style="width: auto; height: 100%;">
                        </div>
                        <div class="place__name">
                            На главную
                        </div>
                    </div>
                    
                </div>*@
            </div>

            <div class="list__places">
                <div class="menu__search">
                    <input type="text" value="" class="menu__input" placeholder="Поиск в TravelGuide"/>
                    <button class="menu__search-btn" id="search">Click</button>
                </div>

            </div>
            
        </div>
        <div id="map">
        </div>
    </div>
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
    <script type="text/javascript" src="~/js/map.js"></script>
</body>
</html>