
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" href="~/css/Map.css" />

    
</head>
<body>
    <div class="main">
        <button class="menu__btn">Меню</button>
        <div class="menu">
            <input type="checkbox" name="hotel_checkbox" value="hotel" id="hotel_checkbox"/>
             <label for="hotel_checkbox">Отель</label>
        </div>
        <div id="map">
        </div>
    </div>
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
    <script type="text/javascript" src="~/js/map.js"></script>
</body>
</html>