<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelGuide</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a asp-controller="Main" asp-action="Main" class="header__logo">Путеводитель</a>
                <nav class="nav">
                    <a class="nav__link" asp-controller="Place" asp-action="ListPlaces" asp-route-type="hotel">Отели</a>
                    <a class="nav__link" asp-controller="Place" asp-action="ListPlaces" asp-route-type="attraction">Достопримечательности</a>
                    <a class="nav__link" asp-controller="Place" asp-action="ListPlaces" asp-route-type="entertainment">Развлечения</a>
                    <a class="nav__link" asp-controller="Place" asp-action="ListPlaces" asp-route-type="business">Бизнес</a>
                    <a class="nav__link" asp-controller="Place" asp-action="ListPlaces" asp-route-type="catering">Общепит</a>
                    <a class="nav__link" asp-controller="Main" asp-action="Map">Карта</a>
                </nav>
            </div>
            
        </div>
        
    </header>
    <div class="">
        <main class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="social">
                    <h1 class="footer__logo">
                        Путеводитель
                    </h1>
                    <div class="social__links">
                        <a href="#" class="social__link">
                            <img src="https://img.icons8.com/fluency/344/facebook.png" alt="" class="footer__icon" />
                        </a>
                        <a href="#" class="social__link">
                            <img src="https://img.icons8.com/fluency/344/instagram-new.png" alt="" class="footer__icon" />
                        </a>
                        <a href="#" class="social__link">
                            <img src="https://img.icons8.com/3d-fluency/344/vk-circled.png" alt="" class="footer__icon" />
                        </a>
                        <a href="#" class="social__link">
                            <img src="https://img.icons8.com/fluency/344/twitter.png" alt="" class="footer__icon" />
                        </a>
                    </div>
                </div>
                <div class="contacts">
                    <h2 class="contacts__text">Наши контакты</h2>
                    <a href="" class="contact__link">
                        <img src="https://img.icons8.com/windows/344/ringer-volume.png" alt="" class="footer__icon" />
                        <div class="contact__info">
                            xxxxxxxxxxx
                        </div>
                    </a>
                    <a href="" class="contact__link">
                        <img src="https://img.icons8.com/ios/100/place-marker--v2.png" alt="" class="footer__icon" />
                        <div class="contact__info">
                           xxxxxxxxxxx
                        </div>
                    </a>
                    <a href="" class="contact__link">
                        <img src="https://img.icons8.com/ios/100/filled-message.png" alt="" class="footer__icon" />
                        <div class="contact__info">
                           xxxxxxxxxxx
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script><!--подключение jquery-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
